.root {
    -fx-background-color: #ffffff;
    -fx-font-family: "Arial";
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
}

.text-field {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 8;
    -fx-pref-height: 55px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #A6A6A6;
    -fx-font-size: 18px;
}

.button {
    -fx-cursor: hand;
}

.check-box {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #888888;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 3;
}

.check-box:selected .box {
    -fx-background-color: #4472C4;
    -fx-border-color: #4472C4;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.button-textlike { /* Nút thao tác, có gạch chân, chưa đổi màu */
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-background-radius: 15;
    -fx-text-fill: #333333;
}

.button-textlike:hover { /* Nền trắng nhạt */
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.action-button {
    -fx-background-radius: 8;
    -fx-pref-height: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #4472C4;
    -fx-font-size: 20px;
}

.action-button:hover {
    -fx-background-color: #8FAADC;
}

.wait-button {
    -fx-background-radius: 8;
    -fx-pref-height: 55px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 0);
}

.wait-button:hover {
    -fx-background-color: #DAE3F3;
}

.background {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #FFFFFF, #9FD7F9);
}